{#
Ciscoのshow ip routeをCSV形式にするテンプレート。

プレイブックは
  set_fact: parsed_list
しているのを前提にしているので、parsed_listオブジェクトから情報を取り出す。
#}
"NETWORK","MASK","NEXTHOP_IP","NEXTHOP_IF","DISTANCE","METRIC","PROTOCOL","TYPE","UPTIME"
{% for item in parsed_list -%}
{{item.NETWORK | default('')}},{{item.MASK | default('')}},{{item.NEXTHOP_IP | default('')}},{{item.NEXTHOP_IF | default('')}},{{item.DISTANCE | default('')}},{{item.METRIC | default('')}},{{item.PROTOCOL | default('')}},{{item.TIME | default('')}},{{item.UPTIME | default('')}}
{% endfor %}
